* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  width: 35px;
}

.navbar {
  background-color: blueviolet;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.checkout {
  padding-top: 1em;
}

.amount {
  background-color: black;
  color: white;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  position: relative;
  top: -35px;
  left: 20px;
}

main {
  height: calc(100vh - 100px);
  border: 1px solid pink;
  text-align: center;
  padding-top: 3em;
}

.empty {
  margin-top: 2em;
  color: red;
}
